.container{
    width: 100%;
    opacity: 80%;
}
.center{
    margin-top: 20px;
    padding: 25px 25px 25px 0;
}
.loginTitle{
    font-size:50px ;
    text-align: center;
}
.forget{
    color:darkgray;
    font-size: 20px;
    float: right;
}
.swipe{
    font-size: 50px;
    color: #2E2D3C;
    margin: auto;
    text-align: center;
    font-family: '楷体';
}
#test1{
    margin: auto;
}
.leftCard{
    font-size: 25px;
    font-family: '楷体';
    color:#007DDB;
    opacity: 70%;
    border-radius: 6px;
    margin: 20px;
}
.secondImg{
    height: 220px;
    margin-left: 90px ;
}
.menuButton{
    display: none;
    margin-left: 9%;
}
@media screen and (max-width: 700px) {
    .leftCard{
        display: none;
    }
    .swipe{
        font-size: 30px;
    }
    .menuButton{
        display: block;
    }
}