#joinDiv,#managerDiv{
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    border: 2px #4E5465 solid;
}
/*#joinDiv{
    background-color: #f7f3ff;
}
#managerDiv{
    background-color: #ebfffa;
}*/
.divTitle{
    font-size: 30px !important;
    color: #393D49;
}
.layui-elem-field{
    border-radius: 5px;
}
.layui-colla-title{
    font-size: 17px !important;
    font-family: '微软雅黑 Light';

}
.layui-field-box{
    text-align: center;
    font-size: 20px;
    font-family: '楷体';
    color: #595B5D;
}
.meetingState{
    float:right;
    color: #249312;
}
.searchButtonDiv{
    width: 19%;
}
.searchInputDiv{
    width: 79%;
}
#searchResultTable{
text-align: center;
}
.layui-table th{
    text-align: center !important;
}
li{
    font-size: 15px !important;
    font-family: 微软雅黑;
}