.swipe{
    font-size: 50px;
    color: #2E2D3C;
    margin: auto;
    text-align: center;
    font-family: '楷体';
}
.layui-container{
    margin-top: 20px;
    border:2px solid #4E5465;
    padding-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.layui-upload-list{
    width: 100px;
    height: 100px;
    border: 1px solid #2E2D3C;
}
.layui-upload-list>img{
    width: 100px;
    height: 100px;
}
.setFloat{
    position: relative;
    top:400px;
    margin-bottom: 20px;
}
.setFloat>img{
    width: 100px;

}
@media screen and (max-width: 700px) {
    .swipe{
        font-size: 25px;
    }
}