.eachMeeting{
    border: 2px solid #4E5465;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}
.meetingContainer{
    margin: 20px auto;
    width: 94%;
}
.allContainer{

}
*{
    font-family: '微软雅黑';
}
.layui-tab{
    width: 95%;
    margin: auto;
}
.meetingName{
    font-size:25px ;
    text-align: center;
    width: 100%;
}
.pickUpInfo{
    width: 80%;
    margin: auto;
}
.addButton{
    float: left;
}
.btnDiv{
    width: 100%;
}
.meetingDetail{
    margin-left: 30px;
}
.layui-card-header{
    font-size: 25px;
}
.layui-card{
    border: 2px solid #4E5465;
    width: 46%;
    margin: 20px;
    float: left;
}
@media screen and (max-width: 1200px) {
    .layui-card{
        width: 40% !important;
    }
}
@media screen and (max-width: 900px) {
    .layui-card{
        width: 92% !important;
    }
}

/*
@media screen and(max-width: 700px){
    .layui-card{
        width: 94%;
    }
}*/
.hotelMessage{
    border: 2px solid #4E5465;
    width: 80%;
    margin: auto;
}
.signUpper{
    text-align: center;
    font-size: 25px;
    color: #4E5465;
}
.hotelForm{
    width: 80%;
    margin:30px auto;
}
